# OS-specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Binary and archive formats
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
*.log
*.sql
*.sqlite
*.sqlite3
.tmp

# IDEs and editors
.idea
.vscode
nbproject
.node_history
.tsbuildinfo
.eslintcache

# Tests and coverage
coverage

# Node/Yarn
node_modules
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# Strapi-specific
.env
license.txt
exports
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json

public/uploads/*
!public/uploads/.gitkeep
