@tailwind base;
@tailwind components;
@tailwind utilities;


.trail-img {
    position: absolute;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    transform-origin: center;
    pointer-events: none;
    will-change: transform;
    filter: grayscale(100%);
}

@font-face {
  font-family: 'Anybody';
  src: url('/src/assets/fonts/Anybody-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
